*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
video,
iframe,
figure {
  max-width: 100%;
}

body,
header {
  margin: 0;
}

header {
    display: flex;
    justify-content: center;
    gap: 1em;
}

:root {
  --green: #1db954;
  --dark-green: #199645;
  --bg-primary: #121212;
  --bg-secondary: #212121;
  --font-primary: #fff;
  --font-secondary: #b3b3b3;
  --font-tertiary: #535353;
  --red: #e74c3c;
  --dark-red: #c0392b;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: var(--bg-primary);
  color: var(--font-primary);
}

a {
  color: var(--green);
}
a:hover {
  color: var(--font-primary);
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
  color: var(--font-secondary);
}

main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-style: normal;
  color: var(--green);
}

button {
  background-color: var(--font-tertiary);
  color: var(--font-primary);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--font-secondary);
}
