main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-card, .song-card > img {
    border-radius: 8px;
}

.song-card {
    padding: 1em;
    background-color: var(--bg-secondary);
}

.song-card > h1{
    margin-bottom: 0px;
}

.song-card > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.swipe-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20em;
  margin-top: 2em;
}

.swipe-buttons button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--bg-secondary);
  padding: 1.5em;
  width: 7em;
}