{% extends "base.html" %}
    {% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/attribution.css') }}"
    />
    {% endblock %}
    {% block main_content %}
        <a href="https://www.svgrepo.com/svg/522144/heart-like" title="heart icon">Heart icon created by Catalin Fertu, used under CC Attribution License</a>
        <a href="https://www.svgrepo.com/svg/522086/cross" title="cross icon">Cross icon created by Catalin Fertu, used under CC Attribution License</a>
    {% endblock %}