<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='core.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    {% block styles %} {% endblock %}
  </head>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <body>
    <header>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('select_playlist') }}">Playlist Cleaner</a>
    </header>
    <main>{% block main_content %} {% endblock %}</main>
    <{% block scripts %} {% endblock %}
  </body>
</html>
