{% extends "base.html" %} 
    {% block styles %}
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/select_playlist.css') }}"
    />
    {% endblock %}

    {% block main_content %} 
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for playlist in playlists %}
                <div class="swiper-slide">
                <div class="playlist-card">
                    <a href="{{ url_for('track_swipe', playlist_id=playlist['id']) }}">
                        <img
                            src="{% if playlist['images'] %}
                                    {{ playlist['images'][0]['url'] }}
                                {% else %}
                                    {{ url_for('static', filename='images/placeholder.png') }}
                                {% endif %}"
                            alt="Playlist cover"
                        />
                    </a>
                    <h3>{{ playlist["name"] }}</h3>
                </div>
                </div>
                {% endfor %}
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% endblock %}

    <{% block scripts %}
        <script src="{{ url_for('static', filename='js/carousel.js') }}"></script> 
    {% endblock %}