{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/select_playlist.css') }}"
/>
{% endblock %} {% block main_content %}
<div class="swiper">
  <div class="swiper-wrapper">
    {% for playlist in playlists %}
    <div class="swiper-slide">
      <div class="playlist-card">
        <img
          src="{% if playlist['images'] %}
                                {{ playlist['images'][0]['url'] }}
                            {% else %}
                                {{ url_for('static', filename='images/placeholder.png') }}
                            {% endif %}"
          alt="Playlist cover"
        />
        <h3>{{ playlist["name"] }}</h3>
        <h4>
          {{ playlist["tracks"]["total"]}} {% if playlist["tracks"]["total"] ==
          1 %} Track {% else %} Tracks {% endif %}
        </h4>
        <div class="playlist-actions">
          <div class="playlist-action-row">
            <button
              class="playlist-action"
              type="button"
              onclick="window.location.href='{{ url_for('track_swipe', spotify_playlist_id=playlist['id']) }}'"
            >
              Prune
            </button>
            <button
              data-playlist-id="{{playlist["id"]}}"
              class="playlist-action delete"
              type="button"
              onclick="deletePlaylist()"
            >
              Delete
            </button>
          </div>
          <button
            class="playlist-action history-link"
            type="button"
            onclick="window.location.href='{{ url_for('playlist_history', spotify_playlist_id=playlist['id']) }}'"
          >
            History
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/select_playlist.js') }}"></script>
{% endblock %}
