{% extends "base.html" %}
    {% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/track_swipe.css') }}"
    />
    {% endblock %}
    {% block main_content %}
        <div class="song-card">
            <img src="{{ track_image or url_for('static', filename='images/placeholder.png') }}"
            alt="Album cover">
            {% if track_name and track_artists %}
                <h1>{{ track_name }}</h1>
                <p>{{ track_artists }}</p>
            {% else %}
                <p>Tracks not found.</p>
            {% endif %}
        </div>

        <div class="swipe-buttons">
            <button onclick="deleteSong()"><img src="{{ url_for('static', filename='/images/cross.svg') }}" alt="Cross icon"/></button>
            <button onclick="keepSong()"><img src="{{ url_for('static', filename='/images/heart.svg') }}" alt="Heart icon"/></button>
        </div>
    {% endblock %}

    <{% block scripts %}
        <script src="{{ url_for('static', filename='js/track_swipe.js') }}"></script> 
    {% endblock %}