{% extends "base.html" %}
    {% block styles %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/track_swipe.css') }}"
    />
    {% endblock %}
    {% block main_content %}
        <div class="song-card">
            <img src="{{ track_image or url_for('static', filename='images/placeholder.png') }}"
            alt="Album cover">
            {% if track_title and track_artist %}
                <h1>{{ track_title }}</h1>
                <p>{{ track_artist | join(", ") }}</p>
            {% else %}
                <p>Tracks not found.</p>
            {% endif %}
        </div>
    {% endblock %}